ARKD_WALLET_SIGNER_KEY=
ARKD_PASSWORD=
BITCOIN_RPC_USER=
BITCOIN_RPC_PASSWORD=
EMULATOR_SECRET_KEY=
EMULATOR_PUBKEY=
COVCLAIMD_SECRET_KEY=
INTENT_SOLVER_MNEMONIC=
INTENT_SOLVER_EVM_SEND_MNEMONIC=
INTENT_SOLVER_EVM_RECEIVE_MNEMONIC=
EVM_SEND_PRIVATE_KEY=
EVM_SEND_ADDRESS=
EVM_RECEIVE_PRIVATE_KEY=
EVM_CLIENT_PRIVATE_KEY=
EVM_CLIENT_ADDRESS=
